name: Actualización Diaria GTFS Estático

on:
  # Tarea programada: Ejecuta el script todos los días a las 05:00 AM (UTC)
  schedule:
    - cron: '0 5 * * *' 
  # Desencadenador manual
  workflow_dispatch:

jobs:
  ingest_static_data:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Código
        uses: actions/checkout@v4
        
      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Instalar Dependencias
        # BUSCA requirements.txt en la raíz
        run: pip install -r requirements.txt
        
      - name: Ejecutar Script de Ingesta (gtfs_ingestor.py)
        # El script se ejecuta desde la raíz
        env:
          # Utiliza el Secreto de GitHub para la URL de conexión a tu PostgreSQL
          DATABASE_URL: ${{ secrets.POSTGRES_URL }}
        run: python gtfs_ingestor.py
        
      - name: Notificación de Éxito
        run: echo "Carga de GTFS estático completada."